<div class="create">
    <form [formGroup] = 'registerForm'>
        <div class="row mt-4" *ngIf="isRegisterSuccess">
            <ngb-alert [dismissible]="false" type="success">
                <strong>Success!</strong> User Registered Successfully.
            </ngb-alert>            
        </div>
        <div class="container box mt-5">
            <h1 class="mt-4">Create Account</h1>

            <div class="mt-4"><input type="text" id="FirstName" placeholder="Enter the First Name" name="FirstName" formControlName ="FirstName"/>
                <div *ngIf="registerForm.get('FirstName')?.hasError('required') && isSubmitted" class="text-danger"> FirstName is Mandatory</div>
            </div>
        
        
            <div class="mt-4"><input type="text" id="LastName" placeholder="Enter the Last Name" name="LastName" formControlName ="LastName"/>
                <div *ngIf="registerForm.get('LastName')?.hasError('required') && isSubmitted" class="text-danger">LastName is Mandatory</div>
            </div>
        
        
            <div class="mt-4"><input type="text" id="UserName" placeholder="Enter the User Name" name="UserName" formControlName ="UserName"/>
                <div *ngIf="registerForm.get('UserName')?.hasError('required') && isSubmitted" class="text-danger"> Username is Mandatory </div>
            </div>
        
       
            <div class="mt-4"><input type="number" id="Age" placeholder="Enter the Age" name="Age" formControlName ="Age"/>
                <div *ngIf="registerForm.get('Age')?.hasError('required') && isSubmitted" class="text-danger"> Enter the age</div>
            </div>
            <div class="row mt-4">
                <p class="col">Male</p> <input class="gender" type="radio" id="mGender" name="Gender" value="Male" formControlName ="Gender"/>
                <p class="col">Female</p> <input class="gender" type="radio" id="FGender" name="Gender" value="Female" formControlName ="Gender"/>
                <p class="col">Trans</p> <input class="gender" type="radio" id="TGender" name="Gender" value="Trans" formControlName ="Gender"/>
            </div>
            <div class="mt-4"><input type="email" id="Email" placeholder="Enter the email id" name="Email" formControlName ="Email"/>
                <div *ngIf="registerForm.get('Email')?.hasError('required') && isSubmitted" class="text-danger"> Email is Mandatory</div>
            </div>
        
            <div class="mt-4"><input type="number" id="ContactNumber" placeholder="Enter the Contact Number" name="ContactNumber" formControlName ="ContactNumber"/>
                <div *ngIf="registerForm.get('Password')?.hasError('required') && isSubmitted" class="text-danger"> Contact number should have a 10 numbers</div>                
            </div>
       
            <div class="mt-4"><input type="password" id="Password" placeholder="Enter the Password" name="Password" formControlName ="Password"/>
                <div *ngIf="registerForm.get('Password')?.hasError('required') && isSubmitted" class="text-danger"> Password should have a minimum lenght of 8 characters</div>
            </div>
        
            <div class="mt-4"><input type="password" id="ConfirmPassword" placeholder="Enter the Password" name="ConfirmPassword" formControlName ="ConfirmPassword"/>
                <div *ngIf="registerForm.get('ConfirmPassword')?.hasError('required') && isSubmitted" class="text-danger"> Confirm Password should have a minimum lenght of 8 characters</div>
            </div>
        <div class="row mt-4">
            <div class="col"><button type="reset" class="btn btn-success">Reset</button></div>
            <div class="col"><button type="button" class="btn btn-success" (click)="CreateData()">Signup</button></div>
        </div>
        </div>
    </form>
</div>
