.training{
    background-color: gainsboro;
    height: auto;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
.screen{
    height: 100vh;
    width: 100%;
}
.top{
    animation: top 2s ease-out;
}

@keyframes top {

    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
h1{
    font-weight: 1000;
}
p{
    font-style: italic;
    font-weight: 500;
}
.box{
    margin-left: 5%;
    animation: flow 5s ease-out;
}

@keyframes flow {

    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.box h1{
    text-align: center;
}
h5{
    font-weight: 700
}


