<div class="training">
    <div class="row">
        <div class="col">
            <img class="screen" src="../assets/images2.jpg"/>
        </div>
        <div class="col">
            <h1>Home workout: Top 10 fitness exercises to do at home</h1>
            <p class="mt-4">Home workouts bring many advantages with them: First of all, you save money by not paying the membership fee for the gym and it is way easier to incorporate training at home into your everyday life. Secondly, you do not have to wait long for machines that are occupied and there is no long waiting line in front of the shower as well. Since you are by yourself, you can concentrate more intensely on your own body and the right way to do your moves and therefore get the best results possible!</p>    
            <p>A workout, even if it's only 10-15 minutes long, has many positive effects on you. During sport, stress is relieved and happiness hormones are released, especially as a student, this can often help you to concentrate better again! In addition, regular exercise improves your sleep quality, your immune system and your blood circulation too!</p>
            <strong>Table of contents</strong>
            <ul class="mt-2">
                <li>High knees</li>
                <li>Squat Jumps</li>
                <li>Push ups</li>
                <li>Superman</li>
                <li>Sit Ups</li>
                <li>Plank</li>
                <li>Mountain Climber</li>
                <li>Squat</li>
                <li>Hip Thrust</li>
                <li>Walking Lunges</li>
            </ul>
        </div>
    </div><br/><br/>
    <div class="box row mt-4">
        <h1>1. High knees</h1>
        <div class="col mt-4">
            <p>Difficulty level: Intermediate</p>
            <strong>Muscle goups: Abs, Quads, Arms</strong>

            <p>An exercise to get you going!</p>
            <p>Stand shoulder-width apart on your mat. Lift your right leg up. Meanwhile, raise your right hand above your head and then bring it in front of your body. The right hand should now meet the right knee. Now put your leg back down and repeat the process on the left side. Adjust the pace to whatever suits you best. The faster you get, the more effective it will be!</p>
        </div>
        <div class="img mt-4 col">
            <img src="../assets/High-Knee-Lunge-on-Bosu-Ball.gif"/>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>2. Squat Jumps</h1>
        <div class="img2 mt-4 col">
            <img src="../assets/Jump-Squat.gif"/>
        </div>
        <div class="col mt-4">
            <p>Difficulty level: Beginner</p>
            <strong>Muscle groups: Quads, Glutes</strong>

            <p>You will definitely work up a god sweat here!</p>
            <p>Squat jumps are a popular warm-up exercise and easy to do as well. Stand hip-wide on your mat. Get into a squat position. Put your hands in front of your body, keep your back straight, bend your knees and squat down. Now jump out of the squat as high as you can. Land in a squat position. Repeat this process for about 30s - if you are more advanced, you can do the exercise longer!</p>
            <p>Note: Do not arch your back and always keep your knees behind your toes!</p>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>3. Push ups</h1>
        <div class="col mt-4">
            <p>Difficulty level: Advanced</p>
            <strong>Muscle goups: Shoulders, Arms, Upper Back, Abs</strong>

            <p>An incredible all-rounder exercise!</p>
            <p>Lie flat on your stomach, position your hands under your shoulders and push yourself away from the floor, keep your body under tension! Look down. Your body should form a straight line. If this exercise is too difficult for you, you can keep your knees on the floor and try a simplified variation.</p>
            <p>Note: Don't let your body sag, always keep tension!</p>
        </div>
        <div class="img mt-4 col">
            <img src="../assets/Push-Up.gif"/>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>4. Superman</h1>
        <div class="img2 mt-4 col">
            <img src="../assets/Superman.gif"/>
        </div>
        <div class="col mt-4">
            <p>Difficulty level: Beginner</p>
            <strong>Muscle groups: Back, Glutes</strong>

            <p>A beautiful rear can also endear!</p>
            <p>This exercise is super easy and good for your back. Lie on your stomach. Extend your arms forward. Look down. Now you pull your upper body and your legs up. Hold the position for a few seconds before dropping your arms and legs back onto the mat. Try to move your body with muscle strength and not with momentum!</p>
            <p>Note: keep tension!</p>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>5. Sit ups</h1>
        <div class="col mt-4">
            <p>Difficulty level: Intermediate</p>
            <strong>Muscle goups: Abdominal muscles</strong>

            <p>Some love this exercise, others hate it.</p>
            <p>Lie on your back. Bend your knees and raise your legs. Tilt your pelvis so that your back lays flat on the floor without a hollow back. Put your arms behind your neck and slowly move your upper body to your knees, then put it back on the floor! With control!</p>
            <p>Note: Do not forget to breathe!</p>
        </div>
        <div class="img mt-4 col">
            <img src="../assets/Quarter-Sit-up.gif"/>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>6. Plank</h1>
        <div class="img2 mt-4 col">
            <img src="../assets/Weighted-Front-Plank.gif"/>
        </div>
        <div class="col mt-4">
            <p>Difficulty level: Beginner</p>
            <strong>Muscle groups: Abdominal muscles</strong>

            <p>A minute has never felt so long!</p>
            <p>Put your forearms on the floor. Lift your body so that it forms a straight line. Hold this position. And that's it! You can try many different variations here. For example, instead of using your forearms, try to support yourself only wih the palms of your hands or the side of your body!</p>
            <p>Note: Keep your body in line! Don't sag and don't hunch your back!</p>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>7. Mountain Climber</h1>
        <div class="col mt-4">
            <p>Difficulty level: Intermediate</p>
            <strong>Muscle goups: Abdominal muscles</strong>

            <p></p>
            <p>Start with a plank position (see above). Now slowly pull your knees up to your chin, one after the other. Carry out this movement in a controlled manner and do not stress yourself. The slower you do this exercise, the more you will feel it in your abs!</p>
            <p>Note: slow, controlled movements!</p>
        </div>
        <div class="img mt-4 col">
            <img src="../assets/Cross-Body-Mountain-Climber.gif"/>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>8. Squat</h1>
        <div class="img2 mt-4 col">
            <img src="../assets/Weighted-Front-Plank.gif"/>
        </div>
        <div class="col mt-4">
            <p>Difficulty level: Beginner</p>
            <strong>Muscle groups: Quads, Glutes</strong>

            <p></p>
            <p>This so-called “Compound Movement” has an amazing reputation with both bodybuilders and amateur athletes!
                Stand on your mat a little wider than shoulder width. Crouch down and tense your buttocks when you get up!</p>
            <p>Note: Straight back, deep squat!</p>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>9. Hip Thrust</h1>
        <div class="col mt-4">
            <p>Difficulty level: Intermediate</p>
            <strong>Muscle goups: Glutes</strong>

            <p>An insider tip for a firm bottom! There are two variations of this exercise.</p>
            <p>1. Lie flat on your back, place your feet close to your butt and push your hips up. Activate your glutes and drive your feet into the ground.</p>
            <p>2. Use a chair as a prop: place your legs on the chair and repeat the exercise as described. Due to the increased angle, this variation is a little more difficult.</p>
            <p>Note: Adjust the position of your feet so that you feel the exercise mainly in your buttocks and not in your knees!</p>
        </div>
        <div class="img mt-4 col">
            <img src="../assets/Barbell-Single-Leg-Hip-Thrust.gif"/>
        </div>
    </div><br/><br/>

    <div class="box row mt-4">
        <h1>10. Walking Lunges</h1>
        <div class="img2 mt-4 col">
            <img src="../assets/dumbbell-lunges.gif"/>
        </div>
        <div class="col mt-4">
            <p>Difficulty level: Intermediate</p>
            <strong>Muscle groups: Quads</strong>

            <p>Last but not least!</p>
            <p>If you do not feel your thighs by now, you will definitely do it after this exercise! Stand tall on your mat. Take a step forward; making sure that your knee does not protrude over the tips of your toes. Then you push yourself off with your back leg, guide it past your other leg and take another step forward. Repeat this process again and again!</p>
            <p>Note: Never let your knees go over the tip of your toes!</p>
        </div>
    </div><br/><br/>

    <div class="container mt-5">
    <h5>This little at-home training plan is most effective when you repeat it three times. It can look something like this:</h5>
    <ul>
        <li class="mt-2">Exercise 1 & 2 - Repeat 3x30s - 10s break</li>
        <li class="mt-2">Exercise 3 & 4 - Repeat 3x15 - 10s break</li>
        <li class="mt-2">Exercise 5,6 & 7 - Repeat 3x20 - 30s break</li>
        <li class="mt-2">Exercise 8,9 & 10 - Repeat 3x15 - 10s break</li>
    </ul>
    <p>Have fun with your training!</p>
    </div>
</div>
