
#about h1{
    position: relative;
    text-align: center;
    transform: translate(-70%, -70%);
    top: 80px;
    text-align: center;
    left: 70%;  
}
#about ul{
    margin-top: 15%;
    margin-left: 10%;
    font-size: x-large;
}

