.Aboutus{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url(../images/images3.jpg);
    height: auto;
    background-size: cover;
    overflow: hidden;
}
h1{
    color: white;
    font-weight: 1000;
    text-align: center;
    font-style: italic;
}
img{
    width: 90%;
    height: 80vh;
}
p{
    color: white;
}
li{
    color: white;
}
.text-content{

    font-weight: 400;
    animation: flow 2s ease-out;

}
@keyframes flow {

    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}
h2{
    color: white;
    font-style: italic;
}

.ver{
   margin-top: 10%;
   margin-left: 5%;
}
.primary{
    width: 10%;
    height: 10px;
}
ngb-rating{
    color: gold;
    font-size:x-large;
}