<div class="login">
    <form [formGroup]='LoginForm'>
        <div class="row" *ngIf="errMsg">
            <ngb-alert [dismissible] = "true">
                <strong>Error! </strong>{{errMsg}}.
            </ngb-alert>
        </div>
        <div class="box">
            <div class="mt-4"><h1>Login</h1></div>
            <div class="row mt-4">
                <div class="colinput col">
                    <input type="text" id="UserName" name="UserName" placeholder="Enter the Username" class="form-control" formControlName="UserName"/>
                    <div *ngIf="LoginForm.get('UserName')?.hasError('required') && isSubmitted" class="text-danger">Kindly enter the UserName</div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="colinput col">
                    <input type="password" id="Password" name="Password" placeholder="Enter the Password" class="form-control" formControlName="Password"/>
                    <div *ngIf="LoginForm.get('Password')?.hasError('required') && isSubmitted" class="text-danger">Kindly enter the Password</div>
                    <div *ngIf="LoginForm.get('Password')?.hasError('minlength')" class="text-danger">Password must be 8 characters</div>
                </div>
            </div>
            <div class="row mt-4">
                <input class="col rem mt-2" type="checkbox"/><p class="p col">Remember me</p>
                <a class="col forget" [routerLink]="['/forget-password']">Forget Password</a>
            <div class="loginbtn row mt-3">
                <button type="button" class="btn mr-4" (click)="checkLogin()">Login</button>
            </div>
            </div>
            <div class="row mt-4">
                <p class="col">Don't have an account? </p>
                <a class="col" [routerLink]="['/create-account']">Signup</a>
            </div>
        </div>
    </form>

</div>