<div class="container mt-4">
    <h1>Login</h1>
    <div class="row mt-4">
        <div class="col">User Name</div>
        <div class="col"><input type="text" placeholder="Enter the UserName"></div>
    </div>
    <div class="row mt-4">
        <div class="col">Password</div>
        <div class="col"><input type="text" placeholder="Enter the Password"></div>
    </div>
    <div style="text-align: center;" class="m-5"><button type="button" class="btn btn-success m-2">Login</button>
                     <button type="button" class="btn btn-success">Forget Password</button>            
    </div>
</div>
