<div class="container mt-5">
    <form [formGroup]='LoginForm'>
        <div class="mt-4"><h1>Login</h1></div>
        <div class="row mt-4" *ngIf="errMsg">
            <ngb-alert [dismissible] = "true">
                <strong>Error! </strong>{{errMsg}}.
            </ngb-alert>
        </div>
        <div class="row mt-4">
            <div class="col">Username</div>
            <div class="col">
                <input type="text" id="UserName" name="UserName" placeholder="Enter the User Name" class="form-control" formControlName="UserName"/>
                <div *ngIf="LoginForm.get('UserName')?.hasError('required') && isSubmitted" class="text-danger">Kindly enter the UserName</div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">Password</div>
            <div class="col">
                <input type="text" id="Password" name="Password" placeholder="Enter the Password" class="form-control" formControlName="Password"/>
                <div *ngIf="LoginForm.get('Password')?.hasError('required') && isSubmitted" class="text-danger">Kindly enter the Password</div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col"><button type="button" class="btn btn-success mr-4" (click)="checkLogin()">Login</button>
                            <button type="button" class="btn btn-success ms-4" (click)="goToReg()">signup</button>
            </div>
        </div>
    </form>

</div>