<div class="profile">
    <div class="box container" *ngFor="let account of record">
        <h1 class="mt-3">Profile</h1>
        <div class="row mt-4">
            <div class="col colname">First Name</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.FirstName"/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col colname">Last Name</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.LastName"/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col colname">User Name</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.UserName"/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col colname">Age</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.Age"/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col colname">Gender</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.Gender"/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col colname">Contact Number</div>
            <div class="col">
                <input type="tel" [(ngModel)]="account.ContactNumber" pattern="[0-9]{10}"/>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col colname">Email</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.Email"/>
            </div>
        </div>

        <div *ngIf="show" class="row mt-4">
            <div class="col colname">Password</div>
            <div class="col">
                <input type="text" [(ngModel)]="account.Password"/>
            </div>
        </div>

        <button type="button" class="sense btn btn-warning" (click)="show = !show">Sensitive Data</button>
        <button type="button" class="logout btn btn-danger ms-4" (click)="logout()">Logout</button>
        <button type="button" class="edit btn btn-warning ms-4" (click)="UpdateData(account)">Edit</button>
    </div>
</div>

  <!-- <pre>{{record | json}}</pre> -->

  <!-- <form *ngFor="let account of record | keyvalue">
      <strong>{{account.key}}</strong>: {{account.value | json}}
  </form> -->
  