<div class="container">
    <form >
        <div class="row">
            <div class="col">First Name</div>
            <div class="col"><input type="text" placeholder="{{UserName}}" disabled/></div>
        </div>
        <div class="row">
            <div class="col">Last Name</div>
            <div class="col"><input type="text" placeholder="{{UserName}}" disabled/></div>
        </div>
        <div class="row">
            <div class="col">User Name</div>
            <div class="col"><input type="text" placeholder="{{UserName}}" disabled/></div>
        </div>
        <div class="row">
            <div class="col">Email</div>
            <div class="col"><input type="text" placeholder="{{UserName}}" disabled/></div>
        </div>
        <div class="row">
            <div class="col">Phone number</div>
            <div class="col"><input type="text" placeholder="{{UserName}}" disabled/></div>
        </div>
        <div class="row">
            <div class="col">Date of birth</div>
            <div class="col"><input type="text" placeholder="{{UserName}}" disabled/></div>
        </div>

        <div>
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </form>
</div>