<div class="forget">
    <div *ngIf="errMsg">
            <ngb-alert [dismissible]="true">
                <strong>Error! </strong>{{errMsg}}
            </ngb-alert>
        </div>
    <div class="box">
        <form [formGroup]="Forgetpass">
            <h1>Forget Password</h1>
            <div class="row">
                <div class="col">
                    <input type="email" name="Email" id="Email" placeholder="Enter the Email" class="form-control" formControlName="Email"/>
                    <div *ngIf="Forgetpass.get('Email')?.hasError('required') && submitted" class="text-danger">kindly enter the email</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="button" class="btn" (click)="check()">Send</button>
                </div>
            </div>
            
        </form>
    </div>
</div>

