.navbar{
    position: sticky;
    top: 0%;
    z-index:1;
}
.navbar-brand{
    font-style: oblique;
    font-weight: 800;
    color: rgb(24, 186, 24) !important;
    text-transform: uppercase;
    margin-left: 10px;
}
img{
    width: 40px;
    height: 30px;
    border-radius: 100px;
}
.navbar-nav {
    padding: 5px 0px 5px 300px;
    text-shadow: 0px 0px 30px rgb(6, 6, 6);
    
}
.navbar-nav a{
    font-size: larger;
    font-weight: 500;
    color: rgb(230, 227, 227);
    text-decoration:2px underline transparent;
    box-sizing: border-box;
}
.navbar-nav a:hover{
    text-decoration:2px underline green;
}
.Login{
    color: white;
    background-color: limegreen;
}
nav .profile{
    position: absolute;
    margin-left: -26%;
    font-style: oblique;
    font-weight: 700 !important;
    color: blueviolet !important;
}
#navbarSupportedContent{
    margin-left: 7%;
}
.active
{
    color: limegreen !important;

    font-weight:800 !important ;
}