.Contact
{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/About!1.jpg);
    height: auto;
    min-height: 80vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}
.box
{
    margin-left: 4%;
    margin-top: 5%;
}
img
{
    width: 600px;
    height: auto;
}
input
{
    width: 300px;
}
textarea
{
    width: 300px;
    max-height: 200px;
    min-height: 50px;
}
