<div class="home">
    <h2>React your limits and get to the next level</h2>
    <p>Fitness is not just about physical strength—it's a journey of discipline, 
        resilience, and self-discovery. Every drop of sweat, every aching muscle, 
        and every push beyond your limits is a step toward becoming the best version of yourself. 
        The key is consistency, not perfection. Progress may be slow, but each small victory builds 
        a stronger, more determined you. When motivation fades, remember why you started. 
        Fitness is not just about how you look; it's about how you feel, both mentally and physically. 
        Embrace the struggle, celebrate the wins, and trust the process. Keep moving forward, 
        and you'll be amazed at what you can achieve.</p>
    <button type="button" class="btn" (click)="goToJoin()">Join now</button>
</div>
<app-aboutus></app-aboutus>