<h1>Admin Account</h1>

<button type="button" class="btn btn-primary" (click)="showData = !showData">Show Data</button>

<div class="container mt-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>UserName</th>
                <th>UserType</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th *ngIf="showData">Contact Number</th>
                <th *ngIf="showData">Password</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let record of account">
                <td>{{record.id}}</td>
                <td>{{record.FirstName}} {{record.LastName}}</td>
                <td>{{record.UserName}}</td>
                <td>{{record.UserType}}</td>
                <td>{{record.Age}}</td>
                <td>{{record.Gender}}</td>
                <td>{{record.Email}}</td>
                <td *ngIf="showData">{{record.ContactNumber}}</td>
                <td *ngIf="showData">{{record.Password}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteData(record)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div><br>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let msg of msgs">
                <td>{{msg.id}}</td>
                <td>{{msg.PhoneNumber}}</td>
                <td>{{msg.Email}}</td>
                <td>{{msg.Msg}}</td>
                <td><button type="button" class="btn btn-danger" (click)="Deletemsg(msg)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
