.footer{
    background-color: rgb(40, 39, 39);
    margin-bottom: 0%;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.box{
    margin-left: 17%;
    width: 100%;
}
h3{
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}
p{
    font-weight: 600;
    color: rgb(237, 199, 129);
}
.row2{
    margin-left: 8%;
}
.col1{
    font-weight: 600;
    position: relative;
    margin-left: 12%;
    color: rgb(237, 199, 129);
}
.col2{
    font-weight: 600;
    margin-left: 2%;
    color: rgb(237, 199, 129);
}