<footer class="footer">
    <div class="container box mt-5">
        <div class="row">
            <div class="col"><h3>Fitness</h3></div>
            <div class="col"><h3>Cities</h3></div>
            <div class="col"><h3>Contact</h3></div>
        </div>
    </div>
    <div class="row row2 mt-4">
        <div class="col"><p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations, and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest along with a formal recovery plan</p></div>
        <div class="col col1">
            <ul>
                <li class="mb-2">Chennai</li>
                <li class="mb-2">Madurai</li>
                <li>Tirunelveli</li>
            </ul>
        </div>
        <div class="col col2">
            <ul>
                <li class="mb-2">(414) 123-3456</li>
                <li class="mb-2">www.Fitness.com</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <p style="text-align: center; color: white;">&#64; Fitnessforever 2025. All rights reserved.</p>
    </div>
    
</footer>

