<div class="change">
    <div *ngIf="errMsg">
        <ngb-alert [dismissible]="true">
            <strong>Error! </strong>{{errMsg}}
        </ngb-alert>
    </div>
    <div class="box">
        <form [formGroup]="changepass">
            <h1>Forget Password</h1>
            <div class="row">
                <div class="col">
                    <input type="number" id="OTP" name="OTP" placeholder="Enter the OTP Number" class="form-control" formControlName="OTP"/>
                    <div *ngIf="changepass.get('OTP')?.hasError('required') && submitted" class="text-danger">Must be enter the OTP Number</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="password" id="Password" name="Password" placeholder="Enter the New Password" class="form-control" formControlName="Password"/>
                    <div *ngIf="changepass.get('Password')?.hasError('required') && submitted" class="text-danger">New Password must be 8 characters</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="password" id="ConfirmPass" name="ConfirmPass" placeholder="Enter the Confirm Password" class="form-control" formControlName="ConfirmPass"/>
                    <div *ngIf="changepass.get('ConfirmPass')?.hasError('required') && submitted" class="text-danger">Confirm Password must be 8 characters</div>
                </div>
            </div>

            <div class="row">
                <button type="button" class="btn" (click)="change()">change Password</button>
            </div>
        </form>
    </div>
</div>